.root {
  border-radius: 0;

  &[data-variant='juno'] {
    border-top: 2px solid #d0d0d060;
    border-right: 2px solid #66666680;

    &:active {
      transform: translateX(1px) skewX(-0.1deg);
    }
  }

  &[data-variant='beige'] {
    background-color: #e6e2c6;
    border-top: 2px solid #f0f0d0;
    border-right: 2px solid #c6c2b6;
  }

  &[data-variant='blue'] {
    background-color: #78b9d9;
  }

  &[data-variant='orange'] {
    background-color: #ffbb53;
  }
}