.indicator {
  transition: background-color 1s steps(1, jump-end);
  background-color: #880000;

  &.--active {
    background-color: #44ff44;
  }

  &.--enabled {
    background-color: #22bb22;
  }

  &.--error {
    background-color: #ff2222;
  }

  &.--selected {
    background-color: #ff2222;
  }

  &.--warning {
    background-color: #ffff22;
  }
}

.twinkle {
  background-color: #FFFFFFAA;
  width: 2px;
  height: 2px;
  border-radius: 1px;
  margin-left: 45%;
  margin-top: 25%;
}