@font-face {
  font-family: 'LibrestileExtBold';
  src: url('./assets/fonts/librestileextbold-webfont.woff2') format('woff2'),
       url('./assets/fonts/librestileextbold-webfont.woff') format('woff'),
       url('./assets/fonts/LibrestileExtBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LibrestileExtBold';
  src: url('./assets/fonts/librestileextboldoblique-webfont.woff2') format('woff2'),
       url('./assets/fonts/librestileextboldoblique-webfont.woff') format('woff'),
       url('./assets/fonts/LibrestileExtBoldOblique.ttf') format('truetype');
  font-weight: bold;
  font-style: oblique;
  font-display: swap;
}